.car{
   background-image: url('./img/carSanti2.png');
   background-repeat: no-repeat;
   width: 100%;
   height: 800px;
   margin: auto;
   position: relative;
   top:25px;
   left:110px
}

#interruptor{
    position: absolute;
    top:190px;
    left:220px;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 17px;
    cursor: pointer;
    color: #fff;
    background-color: rgba(50, 252, 0, 0.904);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(255, 3, 3);
}
      
      
#interruptor:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#clutch{
    position: absolute;
    top:280px;
    left:25px;
   
}

#freno{
    position:absolute;
    top: 280px;
    left:120px;
}


#acelerador{
    position: absolute;
    top:280px;
    left: 220px;
}
      


.modal{
    position: relative;
    background-color: #3e8e41;
    color: aqua;
    left: 690px;
}


#stop{
    height: 300px;
    width: 250px;
}
#number {
    font-size:50px;
    color:#434343;
}

div .btn{
    background: rgb(240, 4, 4);
    color: #f2f2f2;
    border-radius: 50%;
    height:50px;
    width: 50px;
    font-size: 15px;
    border: none;
}

div .control{
    background: rgb(6, 235, 25);
}
#dirIzquierda{
    position: relative;
    top:125px;
    left: 2px;
}
#dirDerecha{
    position: relative;
    top: 125px;
    left: 115px;
}

.header{
    background-color: red !important
}